<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="phone.trace">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- client -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <!-- Authenticator -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <!-- Sync -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <!-- Contacts -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- Phone -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />

    <!-- SMS -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />

    <!-- Calendar -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <!-- Other -->
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".ApplicationBg"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BgMenu"
       >

        <activity
            android:name=".MainActivity"

            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/NoActionBar" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityLogin"
            android:label="@string/app_name" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ActivityComment"
            android:label="@string/activity_comment_title" />
        <activity
            android:name=".ActivityDisplayPrivateList"
            android:label="@string/title_activity_display_private_list" />
        <activity
            android:name=".ActivityConfirmSend"
            android:label="@string/title_activity_main_confirm_send" />
        <activity
            android:name=".ActivityLogs2"
            android:label="@string/title_activity_activity_logs"
            android:theme="@style/NoActionBar"
            />
        <activity
            android:name=".ActivityLogDetail"
            android:label="@string/title_activity_activity_log_detail"
            android:parentActivityName=".ActivityLogs2" >

            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityLogs2" />

            <!-- intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="@string/MIMETYPE_PHONELOG" />
            </intent-filter-->
        </activity>
        <activity
            android:name=".ActivityListCalendars"
            android:label="@string/app_name" />
        <!-- Receivers -->

        <receiver
            android:name=".receivers.IncomingCallReciever"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <action android:name="android.provider.Telephony.SMS_SENT" />
                <action android:name="android.permission.READ_SMS" />
            </intent-filter>
        </receiver>

        <!-- Services -->

        <service android:name=".sms.SmsSendService" />
        <service android:name=".services.call.PhoneCallService" />
        <service
            android:name=".services.AccountAuthenticatorService"
            android:exported="true"
            android:process=":auth" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" >
                </action>
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" >
            </meta-data>
        </service>
        <service
            android:name=".services.ContactsSyncAdapterService"
            android:exported="true"
            android:process=":contacts" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_contacts" />
            <meta-data
                android:name="android.provider.CONTACTS_STRUCTURE"
                android:resource="@xml/contacts" />
        </service>

        <activity
            android:name=".ActivityUploadHistoric"
            android:label="@string/title_activity_activity_upload_historic" >
        </activity>
        <activity
            android:name=".ActivitySetting"
            android:label="@string/title_activity_setting" >
        </activity>
        <activity
            android:name=".ActivitySettingEmailSMTP"
            android:label="@string/title_activity_setting_email_smtp" >
        </activity>
        <activity
            android:name=".ActivityImportContacts"
            android:label="@string/title_activity_activity_import_contacts"
            android:parentActivityName=".AbstractActivityCrm" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="phone.trace.AbstractActivityCrm" />
        </activity>
        <activity
            android:name=".ActivityImportEventsCRM"
            android:label="@string/title_activity_activity_import_events_crm" >
        </activity>
        <activity
            android:name=".ActivityAbout"
            android:label="@string/title_activity_activity_about" >
        </activity>
        <activity
            android:name=".ActivityFormClientId"
            android:label="@string/title_activity_activity_form_client_id" >
        </activity>
        <activity
            android:name=".ActivityAddEvent"
            android:label="@string/title_activity_activity_add_event" >
        </activity>
        <activity
            android:name=".ActivitySearchContact"
            android:label="@string/title_activity_activity_search_contact" >
        </activity>
    </application>


</manifest>